<style type="text/css">
.rr-widget[data-s="{{data-retailrocket-markup-block}}"]{height:0;visibility:hidden;overflow:hidden;position:relative;display:block;width:100%;min-width:0;flex-grow:1;font-family:inherit;box-sizing:border-box}
.rr-widget[data-s="{{data-retailrocket-markup-block}}"].rr-active{height:auto;visibility:visible;overflow:visible;}
.rr-widget[data-s="{{data-retailrocket-markup-block}}"] *{outline:none;}
.rr-widget[data-s="{{data-retailrocket-markup-block}}"] .rr-widget__title{

}
.rr-widget[data-s="{{data-retailrocket-markup-block}}"] .rr-swiper-wrapper{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;-o-transition-property:transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-box-sizing:content-box;box-sizing:content-box;}
.rr-widget[data-s="{{data-retailrocket-markup-block}}"] .rr-swiper-slide{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;width:100%;height:auto;position:relative;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;-o-transition-property:transform;transition-property:transform;transition-property:transform,-webkit-transform;}
.rr-widget[data-s="{{data-retailrocket-markup-block}}"] .rr-items{position:relative;overflow:hidden;padding:0;z-index:1;}
.rr-widget[data-s="{{data-retailrocket-markup-block}}"] .rr-item{

}



.rr-widget[data-s="{{data-retailrocket-markup-block}}"] .rr-arrow{position:absolute;top:50%;-webkit-transform:translate(0, -50%);-moz-transform:translate(0, -50%);-ms-transform:translate(0, -50%);-o-transform:translate(0, -50%);transform:translate(0, -50%);background:url('https://rrstatic.retailrocket.net/widget/img/slider_arrow.svg') no-repeat center center;background-size:contain;width:30px;height:30px;display:block;-webkit-transition:all ease .3s;-moz-transition:all ease .3s;-ms-transition:all ease .3s;-o-transition:all ease .3s;transition:all ease .3s;cursor:pointer;z-index:1;}
.rr-widget[data-s="{{data-retailrocket-markup-block}}"] .swiper-prev{left:0;-webkit-transform:translate(0, -50%) rotate(180deg);-moz-transform:translate(0, -50%) rotate(180deg);-ms-transform:translate(0, -50%) rotate(180deg);-o-transform:translate(0, -50%) rotate(180deg);transform:translate(0, -50%) rotate(180deg);}
.rr-widget[data-s="{{data-retailrocket-markup-block}}"] .swiper-prev:hover,
.rr-widget[data-s="{{data-retailrocket-markup-block}}"] .swiper-next:hover{opacity:0.5;}
.rr-widget[data-s="{{data-retailrocket-markup-block}}"] .swiper-next{right:0;}
.rr-widget[data-s="{{data-retailrocket-markup-block}}"] .rr-slider-arrow .swiper-button-disabled{opacity:0.5;}
.rr-widget[data-s="{{data-retailrocket-markup-block}}"] .swiper-button-lock{display:none;}
</style>

<div
  class="rr-widget rr-widget-{{data-retailrocket-markup-block}}"
  data-algorithm-type="personal" 
  data-algorithm="compositeForCategory"
  data-algorithm-param-category-ids="{{data-category-id}}"
  data-algorithm-param-stock-id="{{data-stock-id}}"
  data-template-param-header-text="Специально для вас"
  data-template-param-number-of-items="4"
  data-template-param-item-image-width="320"
  data-template-param-item-image-height="320"
  data-on-pre-render="retailrocket['store{{data-retailrocket-markup-block}}'].preRenderFn(this, data, renderFn)"
  data-on-post-render="retailrocket['store{{data-retailrocket-markup-block}}'].postRenderFn(this)"
  data-template-container-id="widget-template-{{data-retailrocket-markup-block}}"
  data-s="{{data-retailrocket-markup-block}}"
  data-next="rr-widget-{{data-retailrocket-markup-block}}--popular"
>
</div>

<div
  class="rr-widget rr-widget-{{data-retailrocket-markup-block}}--popular"
  data-algorithm="popular"
  data-algorithm-argument="{{data-category-id}}"
  data-algorithm-param-stock-id="{{data-stock-id}}"
  data-template-param-header-text="Хиты категории"
  data-template-param-number-of-items="4"
  data-template-param-item-image-width="320"
  data-template-param-item-image-height="320"
  data-on-pre-render="retailrocket['store{{data-retailrocket-markup-block}}'].preRenderFn(this, data, renderFn)"
  data-on-post-render="retailrocket['store{{data-retailrocket-markup-block}}'].postRenderFn(this)"
  data-template-container-id="widget-template-{{data-retailrocket-markup-block}}"
  data-s="{{data-retailrocket-markup-block}}"
>
</div>

<script id="widget-template-{{data-retailrocket-markup-block}}" type="text/html">
  <div class="rr-widget__title">
    <%=(headerText)%>
  </div>
  <div class="rr-items rr-swiper-container">
    <div class="rr-swiper-wrapper">
      <% for (var i = 0 ; i < numberOfItems; ++i) with(items[i]) { %>
      <div class="rr-swiper-slide" data-item-id="<%=ItemId%>">
        <div class="rr-item">

        </div>
      </div>
      <% } %>
    </div>
  </div>

  <div class="rr-slider-arrow">
    <a class="rr-arrow swiper-prev"></a>
    <a class="rr-arrow swiper-next"></a>
  </div>
</script>

<script type="text/javascript">
  (function (retailrocket) {
    'use strict';

    var SwiperModel = function (setting) {
      var $widget = setting.widget;
      var swiperSeector = '.rr-swiper-container';
      var source = 'https://rrstatic.retailrocket.net/widget/plugins/rrswiper/rrswiper.min.js';
      var itemsCount = $widget.getAttribute('data-number-of-rendered-items');

      function checkloop(paramsSlider) {
        var modSetting = paramsSlider;

        if (modSetting.loop == true) {
          for (var point in modSetting.breakpoints) {
            if (itemsCount <= modSetting.breakpoints[point].slidesPerView) {
              modSetting.breakpoints[point].loop = false;
            } else {
              modSetting.breakpoints[point].loop = true;
            }
          }
        }

        return modSetting;
      }

      function render(swiperLibrary) {
        var SwiperParams = checkloop(setting.settingSwiper);
        var $rrContainer = $widget.querySelector(swiperSeector);
        var rrSwiper = swiperLibrary == 'RRSwiper' ? new RRSwiper($rrContainer, SwiperParams) : new Swiper($rrContainer, SwiperParams);

        rrSwiper
          .on('init', function () {
            var $imgError = $widget.querySelectorAll('.rr-swiper-slide:not(.swiper-slide-duplicate) img');
            var counter = 0;
            var indexImg = [];

            $imgError.forEach(function (img) {
              img.onerror = function () {
                var $slideItem = img.closest('.rr-swiper-slide');
                var $slideSiblings = $slideItem.parentNode.querySelectorAll('.rr-swiper-slide:not(.swiper-slide-duplicate)');
                indexImg.push($slideItem.getAttribute('data-swiper-slide-index'));

                if ($imgError.length == counter) {
                  rrSwiper.removeSlide(indexImg);
                }
              };
              counter++;
            });
            $widget.classList.add('rr-active');
          })
          .on('observerUpdate', function () {
            rrSwiper.resize.resizeHandler();
          });
        rrSwiper.init();
      }

      function getScript() {
        var swiperJs = document.createElement('script');
        var getElemScript = document.getElementsByTagName('script')[0];
        swiperJs.async = 1;

        if (!window.Swiper && !window.RRSwiper) {
          swiperJs.onload = swiperJs.onreadystatechange = function(_, isAbort) {
            if (isAbort || !swiperJs.readyState || /loaded|complete/.test(swiperJs.readyState) ) {
              swiperJs.onload = swiperJs.onreadystatechange = null;
              swiperJs = undefined;

              if (!isAbort) setTimeout(render('RRSwiper'), 0);
            }
          };

          swiperJs.src = source;
          getElemScript.parentNode.insertBefore(swiperJs, getElemScript);
        } else {
          var versionSwiper = window.hasOwnProperty('RRSwiper') ? 'RRSwiper' : 'Swiper';
          render(versionSwiper);
        }
      }

      this.getScript = getScript;
    };

    retailrocket['store{{data-retailrocket-markup-block}}'] = (function () {
      function preRenderFn(widget, recoms, renderFn) {
        console.log(recoms, '1111111111111111111111111111111111');

        if (recoms.length > 0) {
          renderFn(recoms);
        } else {
          retailrocket.widget.render(widget.getAttribute('data-next'));
        }
      }

      function postRenderFn(widget) {
        var rrSwiperCarousel = new SwiperModel({
          widget: widget,
          settingSwiper: {
            wrapperClass: 'rr-swiper-wrapper',
            slideClass: 'rr-swiper-slide',
            init: false,
            updateOnWindowResize: true,
            watchOverflow: true,
            observer: true,
            spaceBetween: 0,
            lazy: true,
            preloadImages: true,
            touchReleaseOnEdges: true,
            watchSlidesVisibility: true,
            loop: true,
            navigation: {
              prevEl: widget.querySelector('.swiper-prev'),
              nextEl: widget.querySelector('.swiper-next'),
            },
            pagination: {
              el: widget.querySelector('.rr-slider-dots'),
              type: 'bullets',
              clickable: true
            },
            autoplay: false,
            speed: 800,
            breakpoints: {
              1200: {
                slidesPerView: 4,
                slidesPerGroup: 4
              },
              768: {
                slidesPerView: 3,
                slidesPerGroup: 3
              },
              500: {
                slidesPerView: 2,
                slidesPerGroup: 2
              },
              320: {
                slidesPerView: 1,
                slidesPerGroup: 1
              }
            }
          }
        });
        
        rrSwiperCarousel.getScript();
      }

      return {
        postRenderFn,
        preRenderFn,
      };
    }());

    retailrocket.widget.render('rr-widget-{{data-retailrocket-markup-block}}');
  }(retailrocket));
</script>