<table>
  <tr>
    <td>
      <table>
        <tr>
          <td align="center" height="341" background="" valign="top">
            <!--[if gte mso 9]>
            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:341px;background-repeat:no-repeat;">
              <v:fill type="tile" size="100%,100%" src="" color="#ffffff" />
              <v:textbox inset="0,0,0,0">
              <table width="100%" align="center" style="border-spacing:0;border-collapse:collapse;">
              <tr>
              <td valign="top" align="center" height="341" style="height:341px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
              <![endif]-->
                <table align="center">
                  <tr>
                    <td>
                      
                    </td>
                  </tr>
                </table>
                <!--[if gte mso 9]>
                </td>
                </tr>
                </table>
              </v:textbox>
            </v:rect>
            <![endif]-->
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>