<style type="text/css">
</style>
<table class="header outer">
  <tr>
    <td class="inner header__logo">
      <a href="{{SiteUrl}}" target="_blank">
        <img src="<@-model.logo@>" width="<@-model.width@>" alt="<@-model.alt@>" border="0" />
      </a>
    </td>
  </tr>
</table>
