{
  "env": {
    "browser": true,
    "jasmine": true
  },
  "plugins": ["jasmine"],
  "extends": "airbnb-base/legacy",
  "globals": {
    "retailrocket": false,
    "rrApi": false,
    "rrLibrary": false
  },
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "func-names": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": ["error", { "allow": ["_gaq"] }]
  }
}
