<style type="text/css">
</style>
<table class="topBar<@ if (model.background) { @> outer<@ } @>">
  <tr>
    <td align="center" class="inner">
      <p><a href="{{htmlVersionLink}}" target="_blank">Online версия письма</a></p>
    </td>
  </tr>
</table>
